<div>
    <p class="col-xs-12 col-sm-12 col-md-1 col-lg-1 "><span><%= title %></span></p>
    <p class="col-xs-12 col-sm-12 col-md-7 col-lg-7 "><span><%= content %></span></p>
    <p class="col-xs-12 col-sm-12 col-md-7 col-lg-7 "><span><%= name %></span></p>
    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3 "><span>Publier Le <%= date %> </span></p>
    <p class="col-xs-12 col-sm-12 col-md-3 col-lg-3 "><span>Par <%= owner_id %> </span></p>
    <p class="col-xs-12 col-sm-12 col-md-1 col-lg-1 "><span><i class="glyphicon glyphicon-trash"></i></span></p>
</div>
